opencv-python
tqdm
absl-py
ml_collections
tensorboardX
wandb>=0.22.3
dropbox
orbax-checkpoint==0.2.3
gymnasium[mujoco]>=1.0.0
gymnasium-robotics>=1.3.0
mujoco>=3.0.0
h5py
flax==0.7.2
optax==0.1.7
chex==0.1.82
tensorflow_probability==0.21.0
tensorboard==2.13.0
